.video {
    text-align: center;
}

.video__link {
    position: relative;
    display: inline-block;
    display: block;

    &::before
}


.video__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video__img {

}